asgiref==3.11.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0
djangorestframework==3.16.1
Flask==3.1.2
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysqlclient==2.2.7
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.1
pillow==12.1.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
Werkzeug==3.1.4
whitenoise==6.12.0
